Code source: https://algotrading101.com/learn/quandl-guide

Author: Igor Radovanovic

AlgoTrading101.com

In [1]:
pip install quandl

Requirement already satisfied: quandl in c:\users\igorr\anaconda3\lib\site-packages (3.5.2)
Requirement already satisfied: inflection>=0.3.1 in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: pandas>=0.14 in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (1.0.5)
Requirement already satisfied: six in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (8.4.0)
Requirement already satisfied: requests>=2.7.0 in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (2.24.0)
Requirement already satisfied: numpy>=1.8 in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (1.18.5)
Requirement already satisfied: python-dateutil in c:\users\igorr\anaconda3\lib\site-packages (from quandl) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\igorr\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2020.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\igorr\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\igorr\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\igorr\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\igorr\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import quandl as quandl
import numpy as np
import pandas as pd

In [ ]:
quandl.ApiConfig.api_key = "YOURAPIKEY" # Insert your API key. Create a free account at quandl.com

In [3]:
mydata = quandl.get("EIA/PET_RWTC_D")

In [4]:
mydata

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-09-16  40.17
2020-09-17  40.99
2020-09-18  41.09
2020-09-21  39.26
2020-09-22  39.55

[8773 rows x 1 columns]

In [5]:
mydata = quandl.get("EIA/PET_RWTC_D", returns="numpy")

In [6]:
mydata

rec.array([('1986-01-02T00:00:00.000000000', 25.56),
           ('1986-01-03T00:00:00.000000000', 26.  ),
           ('1986-01-06T00:00:00.000000000', 26.53), ...,
           ('2020-09-18T00:00:00.000000000', 41.09),
           ('2020-09-21T00:00:00.000000000', 39.26),
           ('2020-09-22T00:00:00.000000000', 39.55)],
          dtype=[('Date', '<M8[ns]'), ('Value', '<f8')])

In [24]:
mydata = quandl.get("WIKI/FB", start_date="2013-12-31", end_date="2020-9-26")

In [25]:
mydata

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2013-12-31,54.12,54.86,53.91,54.649,43076200.0,0.0,1.0,54.12,54.86,53.91,54.649,43076200.0
2014-01-02,54.83,55.22,54.19,54.710,43195500.0,0.0,1.0,54.83,55.22,54.19,54.710,43195500.0
2014-01-03,55.02,55.65,54.53,54.557,38246200.0,0.0,1.0,55.02,55.65,54.53,54.557,38246200.0
2014-01-06,54.42,57.26,54.05,57.200,68852600.0,0.0,1.0,54.42,57.26,54.05,57.200,68852600.0
2014-01-07,57.70,58.55,57.22,57.920,77207400.0,0.0,1.0,57.70,58.55,57.22,57.920,77207400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,164.80,173.40,163.30,169.390,105350867.0,0.0,1.0,164.80,173.40,163.30,169.390,105350867.0
2018-03-22,166.13,170.27,163.72,164.890,73389988.0,0.0,1.0,166.13,170.27,163.72,164.890,73389988.0
2018-03-23,165.44,167.10,159.02,159.390,52306891.0,0.0,1.0,165.44,167.10,159.02,159.390,52306891.0
2018-03-26,160.82,161.10,149.02,160.060,125438294.0,0.0,1.0,160.82,161.10,149.02,160.060,125438294.0
2018-03-27,156.31,162.85,150.75,152.190,76787884.0,0.0,1.0,156.31,162.85,150.75,152.190,76787884.0

In [29]:
mydata = quandl.get("WIKI/FB", collapse="annual")

In [30]:
mydata

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-12-31,26.200,26.99,26.1100,26.6197,60374500.0,0.0,1.0,26.200,26.99,26.1100,26.6197,60374500.0
2013-12-31,54.120,54.86,53.9100,54.6490,43076200.0,0.0,1.0,54.120,54.86,53.9100,54.6490,43076200.0
2014-12-31,79.540,79.80,77.8600,78.0200,20040439.0,0.0,1.0,79.540,79.80,77.8600,78.0200,20040439.0
2015-12-31,106.000,106.17,104.6200,104.6600,18391064.0,0.0,1.0,106.000,106.17,104.6200,104.6600,18391064.0
2016-12-31,116.595,116.83,114.7739,115.0500,18684106.0,0.0,1.0,116.595,116.83,114.7739,115.0500,18684106.0
2017-12-31,178.000,178.85,176.4600,176.4600,10028758.0,0.0,1.0,178.000,178.85,176.4600,176.4600,10028758.0
2018-12-31,156.310,162.85,150.7500,152.1900,76787884.0,0.0,1.0,156.310,162.85,150.7500,152.1900,76787884.0

In [ ]:
df = pd.DataFrame(mydata, columns= ['Date','Value'])
df.to_csv ('GDP.csv')